<div class="intro-header banner-home">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="site-heading">
        <h1><%= t("follow") %></h1>
        <hr class="small">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <div class="main-box-body clearfix">
        <div class="table-responsive">
          <table class="table user-list" id="my-users">
            <thead>
              <tr id="my-users">
                <th><%= t(".user") %></th>
                <th><%= t(".email") %></th>
              </tr>
            </thead>
            <tbody>
              <% if @users.any? %>
                <div><%= render @users %></div>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
